<table class="table">
  <thead>
    <tr>
      <th scope="col">Category</th>
      <th scope="col">Product</th>
      <th scope="col">Color</th> <!-- Corrected "COlor" to "Color" -->
      <th scope="col">Price</th>
      <th scope="col">Actions</th> <!-- Added a column for actions -->
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let i of products">
      <td>{{i.Cname}}</td>
      <td>{{i.Pname}}</td>
      <td>{{i.color}}</td>
      <td>{{i.price}}</td>
      <td>
        <a class="btn btn-danger" (click)="ondelete(i._id)">Delete</a>&nbsp;
        <a class="btn btn-primary" [routerLink]="['/Product-edit', i._id]">Edit</a>
      </td>
    </tr>
  </tbody>
</table>


<!-- <div class="container">
  <div class="row ">
  
    <div
      class="card shadow m-lg-auto mb-2"
      style="width: 18rem;"
      *ngFor="let i of products"
    >
       <div class="col-lg-9"> 
        <div class="card-header">
          <h2> {{i.Cname}}</h2>
        </div>
        <div class="card-body">
          <h5 class="card-title text-lg">{{ i.Pname }}</h5>
        
          <p class="card-text">Color := {{ i.color }}</p>
          <h3 class="mb-4">Cost := {{ i.price }}</h3>
          <a class="btn btn-danger" (click)="ondelete(i._id)">Delete</a>
          &nbsp;
          <a class="btn btn-primary" [routerLink]="['/Product-edit', i._id]">
            Edit
          </a>
        </div>
      </div>
    </div>
    &nbsp;&nbsp;
  </div>
</div> -->